<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679223558463-647f2clns5d6n6rruf2s41jhb5jdt072.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679223558463-647f2clns5d6n6rruf2s41jhb5jdt072</string>
	<key>API_KEY</key>
	<string>AIzaSyBcUhka4YzntVIUPWI-_hYAtSFZ24SR6Sg</string>
	<key>GCM_SENDER_ID</key>
	<string>679223558463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.multivendorecommerce.multiVendorEcommerce</string>
	<key>PROJECT_ID</key>
	<string>multi-vendors-e-commerce-store</string>
	<key>STORAGE_BUCKET</key>
	<string>multi-vendors-e-commerce-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679223558463:ios:da29282089cc9eba52938a</string>
</dict>
</plist>